{% extends 'base.html' %}

{% block content %}
    <body>

    <!-- Main Content -->
    <div class="container">
        <div class="post-grid">
            <!-- Post 1 -->
            <div class="post">
                <img src="https://prilnettech.com/assets/front/img/summernote/60e54f8a4fc95.jpg" alt="Post 1 Image">
                <div class="post-content">
                    <h2>خلاصه معماری جنگو</h2>
                    <p>تمام ریزه کاری های جنگو ک یاد گرفتم اینجا میزارم تا هم خودم یادم نره هم بقیه استفاده که کنن. از شروع پروژه تا مرحله پیشرفته تر</p>
                    <a href="#">ادامه مطلب &rarr;</a>
                </div>
            </div>
    
            <!-- Post 2 -->
            <div class="post">
                <img src="https://img.rdhmag.com/files/base/ebm/rdh/image/2017/06/content_dam_rdh_print_articles_volume37_issue6_dreamstime_xxl_3630846.png?auto=format,compress&fit=crop&q=45&h=356&height=356&w=640&width=640" alt="Post 2 Image">
                <div class="post-content">
                    <h2>شرط اجتماع گریزی</h2>
                    <p>توی چندسال اخیر خیلی این سوالو از خودم میپرسیدم و فهمیدم نتیجش بستگی به سبک زندگی مون داره نه به نوع دیدگاه مون</p>
                    <a href="#">ادامه مطلب &rarr;</a>
                </div>
            </div>
    
            <!-- Post 3 -->
            <div class="post">
                <img src="https://images.mubicdn.net/images/film/179565/cache-250242-1643053549/image-w1280.jpg?size=800x" alt="Post 3 Image">
                <div class="post-content">
                    <h2>کم توجهی به آثار Capcom</h2>
                    <p>سریال اقتباسی این فرانچایز کمتر دیده شده و همین باعث شده کیفیت کار و بودجه تولید ضرر بدی به دیراینراش بزنه</p>
                    <a href="#">ادامه مطلب &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    </body>
    </html>
{% endblock content %}


